.tech{
background-image: url("../slide.jpg");
background-size:cover;
background-position:center;
padding:80px;
font-size:36px;
color:blue;
font-weight:300;
background-color:aliceblue;
}
.mental{
    background-image: url(../oaad.jpg);
    color: white;
    font: size 36px;
    font-weight:300;
}


h3,h4,h5,h6{
    border:2px blue solid;
    padding:60px;
    background-color:bisque;
    border-radius: 50%;
    width:200px;
}


a{
    text-align: right;
}
.links{
    list-style-type: none;
    margin-top: 0%;
    display: flex;
    gap: 50px;
    font-size: medium;
    padding-right: 30px;
    background-color:skyblue;
    width: 40%;
    position:fixed;
    font-weight: bold;
    border-radius:100px;

}